 
body {
  padding-top: 70px;
}

.navbar-brand {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  white-space: nowrap;
  font-size: 1.25rem;
}


  /* Navbar link base */
.navbar .nav-link {
  position: relative;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Hover effect */
.navbar .nav-link:hover {
  color: #38bdf8 !important;
}

/* Underline animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

/* Active (clicked) link */
.navbar .nav-link.active {
  font-weight: 700;
  color: #38bdf8 !important;
}

.navbar .nav-link.active::after {
  width: 100%;
}

 
 body{
      background:#0b141a;
      color:#e5e7eb;
      font-family: 'Segoe UI', sans-serif;
    }

    .hero{
      min-height:100vh;
      display:flex;
      align-items:center;
    }

    .hero h1 span{
      color:#0d6efd;
    }

    .hero p{
      color:#9ca3af;
    }

    .btn-main{
      background:#0d6efd;
      border:none;
      padding:12px 30px;
      border-radius:30px;
    }

    .btn-outline{
      border:1px solid #0d6efd;
      color:#0d6efd;
      padding:12px 30px;
      border-radius:30px;
    }

    .profile-img{
      border-radius:20px;
      box-shadow:0 20px 50px rgba(0,0,0,0.6);
    }

    .badge-box{
      background:#111827;
      padding:10px 15px;
      border-radius:12px;
      display:inline-flex;
      align-items:center;
      gap:8px;
      position:absolute;
      color:#0d6efd;
      font-size:14px;
    }

.skill-card {
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.skill-section {
  background: linear-gradient(135deg,#0d1117,#0b5ed7);
}

.skill-card {
  background: rgba(213, 69, 69, 0.675);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  background: rgba(43, 99, 196, 0.5);
}

.typing {
  color: #0d6efd; /* Bootstrap primary */
  border-right: 3px solid #0d6efd;
  padding-right: 5px;
  white-space: nowrap;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


